<div class="total-nutrition">
  <div class="total-nutrition-card">
    <div class="header">
      <h2>Nutrition Facts</h2>
    </div>
    <div class="content">
      <div class="item upper-item">
        <div class="text">
          <p>Total Calories</p>
          <p>Total Weight</p>
        </div>
        <div class="value">
          <p>{{(totalNutrition.calories | number: "1.0-1")! | removeComma}} kcal</p>
          <p>{{(totalNutrition.totalWeight | number: "1.0-1")! | removeComma}} g</p>
        </div>
      </div>
      <div class="head">
        <div class="text">
          <p>Title</p>
        </div>
        <div class="value">
          <p>% Daily Value*</p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Total Fat <span>{{(totalNutrition.totalNutrients.FAT.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.FAT.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.FAT.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.FAT.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Saturated Fat <span>{{(totalNutrition.totalNutrients.FASAT.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.FASAT.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.FASAT.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.FASAT.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Cholesterol <span>{{(totalNutrition.totalNutrients.CHOLE.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.CHOLE.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.CHOLE.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.CHOLE.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Sodium <span>{{(totalNutrition.totalNutrients.NA.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.NA.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.NA.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.NA.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Total Carbohydrate <span>{{(totalNutrition.totalNutrients.CHOCDF.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.CHOCDF.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.CHOCDF.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.CHOCDF.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Dietary Fiber <span>{{(totalNutrition.totalNutrients.FIBTG.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.FIBTG.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.FIBTG.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.FIBTG.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Total Sugars <span>{{(totalNutrition.totalNutrients.SUGAR.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.SUGAR.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.SUGAR?.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.SUGAR?.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Protein <span>{{(totalNutrition.totalNutrients.PROCNT.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.PROCNT.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.PROCNT?.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.PROCNT?.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Vitamin D <span>{{(totalNutrition.totalNutrients.VITD.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.VITD.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.VITD?.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.VITD?.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Calcium <span>{{(totalNutrition.totalNutrients.CA.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.CA.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.CA?.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.CA?.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Iron <span>{{(totalNutrition.totalNutrients.FE.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.FE.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.FE?.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.FE?.unit}}</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="text">
          <p>Potassium <span>{{(totalNutrition.totalNutrients.K.quantity | number: "1.0-1")! |
              removeComma}}</span>
            <span> {{totalNutrition.totalNutrients.K.unit}}</span>
          </p>
        </div>
        <div class="value">
          <p>
            {{(totalNutrition.totalDaily.K?.quantity | number: "1.0-0")}}
            <span>{{totalNutrition.totalDaily.K?.unit}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
